* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/background.avif);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/*Estilo do cabeçalho*/

header{
    padding: 40px 4%;
}
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    border-radius: 50%;
    width: 100px;
    border: 1px solid rgb(147, 205, 243);
}
header .btn-meu-curriculo button {
    background-color: #007bff;
    padding: 10px 40px;
    font-size:18px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor:pointer;
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
}
.btn-meu-curriculo button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn-meu-curriculo button span:after{
    content:'\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.btn-meu-curriculo button:hover span {
    padding-right: 25px;
}
.btn-meu-curriculo button:hover span:after{
    opacity: 1;
    right: 0;    
}
header .btn-meus-projetos button {
    background-color: #007bff;
    padding: 10px 40px;
    font-size:18px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor:pointer;
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
}
.btn-meus-projetos button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn-meus-projetos button span:after{
    content:'\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.btn-meus-projetos button:hover span {
    padding-right: 25px;
}
.btn-meus-projetos button:hover span:after{
    opacity: 1;
    right: 0;    
}

